/icvt/runtime.log
/icvt/modules/test/test_create_excel_database.py
/icvt/modules/test/test_create_sql_database.py
/icvt/modules/test/test_id_database_gui.py
/icvt/modules/test/test_image_enhancement.py
/icvt/modules/test/test_object_tracking_cv2.py
/icvt/modules/test/test_object_tracking_YOLO.py
/icvt/modules/test/test_upscalling.py
/icvt/modules/test/test_video_metadata.py
/icvt/modules/test/test_YOLO_output_processing.py
/icvt/legacy/sort.py
/icvt/settings.ini
/icvt/settings_crop.ini
/icvt/settings_sort.ini
/icvt/settings_ICID.ini
/icvt/settings_mtc_crop.ini
/icvt/sorting_gui.spec
/icvt/iccs.spec
/icvt/iclv.spec
/icvt/videos/
/icvt/TODO/
/icvt/output/
/icvt/excel/
/icvt/legacy/
/icvt/OCR images/
/icvt/database/
/icvt/resources/exc/output_filtered.xlsx
/icvt/resources/exc/output_filtered_crop.xlsx
/icvt/resources/exc/~$croplog_template.xlsx
/icvt/resources/memory/
