/test.py
/settings.ini
/settings_crop.ini
/settings_sort.ini
/videos/
/output/
/excel/
/legacy/
/OCR images/
/resources/exc/output_filtered.xlsx
/resources/exc/output_filtered_crop.xlsx
/resources/exc/~$croplog_template.xlsx
/resources/memory/
