future~=0.18.3
mpv~=1.0.3
requests~=2.25.1
PyQt5~=5.15.9
pandas~=2.0.0
opencv-python~=4.7.0.72
pytesseract~=0.3.10
Pillow~=9.5.0
openpyxl~=3.1.2
numpy~=1.24.2
matplotlib~=3.7.1
moviepy~=1.0.3
xlwings~=0.30.5
keyboard~=0.13.5
torch~=2.0.0
hachoir~=3.2.0
ultralytics~=8.0.89
PyAutoGUI~=0.9.53
pybboxes~=0.1.6
imutils~=0.5.4